@charset "utf-8";

/*
//  top
*/

.bg {
    position: fixed;
    /* background-image: url('../img/mv003.jpg'); */
    /* background-color: rgba(29, 80, 162, 0.9); */
    background-color: #1d50a2;
    width: 100%;
    height: 33rem;
}

.bg::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -25rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 25rem 100vw;
    border-color: transparent transparent transparent #1d50a2;
}

@media screen and (max-width: 480px) {
    .bg {
        height: 20rem;
    }

    .bg::after {
        bottom: -15rem;
        border-width: 0 0 15rem 100vw;
    }
}

main .main-visual {
    width: 100%;
    height: 40rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 2rem;
}

@media screen and (max-width: 480px) {
    main .main-visual {
        height: 23rem;
    }
}

main .main-visual .text-area {
    padding: 2.5rem 15rem 0 15rem;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 8rem;
    color: #fff;
    font-size: 4rem;
    line-height: 1.4;
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Arimo', sans-serif; */
    font-family: 'Libre Franklin', sans-serif;
}

@media screen and (max-width: 480px) {
    main .main-visual .text-area {
        top: 5rem;
        height: auto;
        padding: 2rem 0 0 1.4rem;
        line-height: 1.2;
    }
}

main .main-visual .text-area .message .main-title {
    font-size: 10rem;
}

main .main-visual .text-area .message .sub-title {
    font-size: 5rem;
}

main .main-visual .text-area .message .description {
    font-size: 1.8rem;
}

@media screen and (max-width: 480px) {
    main .main-visual .text-area .message .main-title {
        font-size: 3.2rem;
    }

    main .main-visual .text-area .message .sub-title {
        font-size: 2.2rem;
    }

    main .main-visual .text-area .message .description {
        font-size: 1rem;
    }
}

main .post-area {
    margin: 2rem 15rem;
}

@media screen and (max-width: 480px) {
    main .post-area {
        width: 90%;
        max-width: 360px;
        margin: 1rem auto;
    }
}

main .post-area .post-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 2rem;
    margin-left: -1.4rem;
    font-size: 1.4rem;
    align-content: center;
}

@media screen and (max-width: 480px) {
    main .post-area .post-list {
        display: block;
    }
}

main .post-area .post-list .post-item {
    position: relative;
    width: 25%;
    min-width: 18rem;
    padding-left: 1.4rem;
    padding-bottom: 1.4rem;
}

@media screen and (max-width: 480px) {
    main .post-area .post-list .post-item {
        width: 100%;
    }
}

main .post-area .post-list .post-item a .post-item-content {
    position: relative;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
}

main .post-area .post-list .post-item a .post-item-content::before {
    display: block;
    content: '';
    padding-top: 100%;
}

main .post-area .post-list .post-item a .post-item-content img {
    transition: 0.4s;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Edge非対応 */
}

main .post-area .post-list .post-item a:hover .post-item-content img {
    /* filter: brightness(50%) grayscale(100%); */
    filter: brightness(40%);
}

@media screen and (max-width: 480px) {
    main .post-area .post-list .post-item a:hover .post-item-content img {
        filter: none;
    }
}

main .post-area .post-list .post-item a .post-info {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 1.6rem;
    color: #fff;
    line-height: 1.6;
    opacity: 0;
    transition: 0.4s;
}

@media screen and (max-width: 480px) {
    main .post-area .post-list .post-item a .post-info {
        display: none;
    }
}

main .post-area .post-list .post-item a:hover .post-info {
    opacity: 1;
}

main .post-area .post-list .post-item a .post-info .post-tag span {
    display: inline-block;
    padding: 0.1rem 0.8rem;
    margin-right: 0.8rem;
    margin-bottom: 0.6rem;
    border: #fff 1px solid;
    border-radius: 5px;
}

main .post-area .post-list .post-item a .post-info .post-date {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
